@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular;
}
.body {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    background-color: #FFF1ED;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
.breadcrumb {
    background-color: #FFF1ED;

}
/* Хедер */
.logo {
    width: 100%;
    max-width: 270px;
    margin-bottom: -50px;
}
header {
    background-color: #374B73;
    padding-bottom: 6px;
    color: white;
}
.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}
.enter img, .cart img, .search img {
    width: 40px;
}
.time {
    background-color: #FF8197;
    padding:5px 8px 5px 8px;
    margin: 0 5px 0 5px;
    border-radius: 20px;
}
.search img, .search form {
    display: inline-block;
}
.menu-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
}
.menu-info a {
    color: white;
}
.menu-info a:hover {
    color: #FF9A9A;
    text-decoration: none;
}
header input[type="text"] {
    background-color : #FF9A9A; 
    border-radius: 20px;
    border: 0px;
}
.search form input {
    width: 280px;
}
.menu-info p {
    margin-bottom: 0;
}
.menu-list ul {
    text-align: center;
}
.menu-list li {
    display: inline;
    padding: 0 20px 0 20px;
}
.menu-list ul a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border: 1px solid #374B73;
}
.menu-list ul a:hover {
    text-decoration: none;
    color: #FF9A9A;
    border: 1px solid #FF9A9A;
} 
.menu-list .active {
    text-decoration: none;
    color: #FF9A9A;
    border: 1px solid #FF9A9A;
}
/* Конец стилей хедер */

/* Футер */
.footer {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    background-color: #F3E7E7;
    flex: 0 0 auto;
}
.footer ul  li {
    display: inline;
    color: black;
    padding-right: 10px;
}
.footer ul a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.footer ul a:hover {
    text-decoration: underline;
} 
footer h2 {
    font-weight: bold;
    font-size: 25px;
}
footer p {
    text-align: center;
    color: #BBBBBB;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
footer img {
    width: 70px;
}
/* Конец стилей футер */

/* Индекс */
.main-img1 {
    background-image: url(../img/main-page.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 80px;
    text-align: center;
}
.main-img1 p {
    color: white;
    font-size: 62px;
    font-weight: bold;
    width: 100%;
    max-width: 800px;
    padding: 40px 30px;
    text-align: left;
}
.btn-main {
    background-color: #FF9A9A;
    padding: 10px 40px;
    border-radius: 120px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.btn-main:hover {
    background-color: #374B73;
    text-decoration: none;
    color: white;
    /* box-shadow: 0 0 70px rgba(0,0,0,0.5);  */
}
.popular {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.popular h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.popular-divs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.popular-divs div {
    width: 100%; 
    max-width: 400px;
    background-color: #374B73;
    border-radius: 120px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 10px;
}
.popular-divs img {
    width: 100%; 
    max-width: 300px;
    border-radius: 120px;
}
.main-img2 {
    background-image: url(../img/main-page2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 60px;
    text-align: center;
    padding-bottom: 150px;
}
.main-img2 p {
    color: white;
    font-size: 62px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 50px;
}
/* Конец стилей индекс */

/* Авторизация */
.auth-page {
    position: relative;
}
.person-auth {
    position: absolute;
    width: 100%;
    max-width: 240px;
    bottom: -180px;
    left: 20px;
}
@media only screen and (max-width: 1121px){
    .person-auth {
        max-width: 200px;
    }
}
@media only screen and (max-width: 999px){
    .person-auth {
        display: none;
    }
}
.auth-form h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.auth-form input[type="email"], .auth-form input[type="password"] {
    background-color : #FF9A9A; 
    border-radius: 20px;
    border: 0px;
    margin-bottom: 20px;
}
.auth-page label {
    font-size: 20px;
    font-weight: bold;
}
.auth-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 180px;
}
.btn-auth {
    background-color: #FF9A9A;
    border: 0px;
    border-radius: 120px;
    color: white;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
.btn-auth:hover {
    background-color: #374B73;
    text-decoration: none;
    color: white;
    /* box-shadow: 0 0 70px rgba(0,0,0,0.5);  */
}
/* Конец стилей авторизации */

/* Контакты */
.contacts-page {
    margin-bottom: 0px;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
.contacts-page h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.contacts-page h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.contacts-bottom {
    width: 100%;
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}
.contacts-top {
    background: rgba(55, 75, 115, 0.15);
    border-radius: 120px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.contacts-top img {
    position: absolute;
    top: 148px;
    right: 80px;
    width: 100%;
    max-width: 300px;
}
@media only screen and (max-width: 700px){
    .contacts-top img  {
        display: none;
    }
}
.contacts-top div {
    padding: 30px 60px;
}
.contacts-top div h2 {
    font-weight: bold;
    font-size: 35px;
    color: #374B73;
    margin-top: 30px;
}
.contacts-top div p, .contacts-bottom p  {
    font-size: 25px;
}
.map {
    margin-bottom: -10px;
}
/* Конец стилей контакты */

/*Акции*/
.sale-page {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
.sale-page h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}
.sale-divs {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.sale-one img, .sale-one div {
    display: inline-block;
    vertical-align: top;
}
.sale-one {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #374B73;
    border-radius: 120px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.sale-info {
    width: 100%;
    max-width: 600px;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.sale-info h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sale-info p {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    height: 100%;
    min-height: 100px;
}
.sale-one img {
    width: 100%;
    max-width: 300px;
    border-radius: 120px;
}
.sale-one .btn-main:hover {
    background-color: #FF8197;
}
/*Конец стилей акции*/

/*Меню*/
.menu-page {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.menu-page .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-page h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}
.menu-page .list {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
}
.filters form {
    padding: 30px 40px 50px 40px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(55, 75, 115, 0.15);
    border-radius: 120px;
}
.filters {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.filters form .type label{
    display: block;
}
.filters form .type {
    margin-bottom: 20px;
}
.filters .price input  {
    width: 60px;
}
.filters p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.filters label {
    font-size: 18px;
}
.filters label input {
    margin-right: 10px;
}
.filters .price input {
    display: inline-block;
}
.menu-page .list img {
    width: 100%;
    max-width: 200px;
    border-radius: 120px;
}
.menu-page .list div a img {
    width: 100%;
    max-width: 40px;
}
.menu-page .list div {
    /*display: inline-block;
    vertical-align: top;*/
    width: 100%;
    max-width: 200px;
    margin: 0px 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #374B73;
    border-radius: 120px;
    color: white;
    position:relative;
    padding-bottom:50px;
}
.menu-page .list div h2 {
    font-size: 20px;
}
.menu-page .list div a {
    position:absolute;
    bottom: 10px;
    left: 82px;
}
.dismiss, .filters-btn {
    background-color: #FF9A9A;
    border: 0px;
    border-radius: 120px;
    color: white;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
    width: 170px;
    margin-top: 10px;
    text-align: center;
    display: block;
}
.filters-btn:hover {
    background-color: #374B73;
    color: white;
}
.dismiss {
    background: rgba(255, 154, 154, 0.5);
    text-decoration: none;
}
.dismiss:hover {
    text-decoration: none;
    color: #374B73;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
/*Конец стилей меню*/

/*Карточка товара*/
.menu-item {
    background: rgba(55, 75, 115, 0.15);
    border-radius: 120px;
}
.menu-item-page {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}
.menu-item-page .item-picture {
    width: 100%;
    max-width: 350px;
    border-radius: 120px;
    margin: 50px;
    margin-bottom: 20px;
}
.menu-item-top .item-picture, .menu-item-top div {
    display: inline-block;
    vertical-align: top;
}
.menu-item-top div {
    margin: 50px 20px;
    width: 100%;
    max-width: 500px;
}
.menu-item-top div h2, h3 {
    font-weight: bold;
}
.menu-item-top div h3 {
    color: #374B73;
    margin-bottom: 50px;
}
.menu-item-person {
    position: absolute;
    bottom: -5px;
    right: 70px;
    width: 100%;
    max-width: 250px;
}
.menu-item-top .icon {
    width: 40px;
}
.menu-item-bottom {
    margin: 20px 50px;
}
.menu-item-bottom {
    padding-bottom: 140px;
}
.menu-item-bottom .energy {
    text-align: center;
}
.menu-item-bottom .energy div {
    display: inline-block;
    width: 100%;
    max-width: 110px;
    border-right: 5px solid #374B73;
}
.menu-item-bottom .energy div:last-child {
    border-right: 0px;
    max-width: 150px;
}
.menu-item-bottom .energy h3 {   
    color: #374B73;
    margin-top: 50px;
    margin-bottom: 30px;
}
.menu-item-bottom .energy h4 {
    font-size: 18px;
    font-weight: bold;
}
/*Конец стилей карточки товара*/

/*Корзина*/
.cart-page {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
.cart-one img {
    width: 100%;
    max-width: 250px;
    border-radius: 120px;
}
.cart-one .icon-delete {
    width: 40px;
    margin-top: -18px;
    margin-left: 20px;
}
.cart-one {
    background: rgba(55, 75, 115, 0.15);
    border-radius: 120px;
    margin-bottom: 20px;
}
.cart-page h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}
.cart-one img, .cart-one p, .cart-one div, .cart-one form{
    display: inline-block;
    vertical-align: middle;
}
.cart-one form button {
    width: 40px;
    margin-top:-20px;
}
.cart-page .fullprice {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #374B73;
}
.cart-one div {
    width: 100%;
    max-width: 350px;
    margin: 0 50px;
}
.cart-one .count {
    background-color: #FF9A9A;
    padding: 5px;
    border-radius: 20px;
}
.cart-one .price {
    font-size: 30px;
    font-weight: bold;
    color: #374B73;
    margin-right: 15px;
}
.order-address-form h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
}
.form-div {
    background: rgba(55, 75, 115, 0.08);
    border-radius: 120px;
    padding: 50px 10px;
}
.form-div label {
    font-size: 25px;
}
.form-div  .form-row, .form-div .form-group {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.payment {
    text-align: center;
}
.payment input {
    transform:scale(2);
    width: 50px;
}
.payment label {
    margin-right: 50px;
}
.payment label:last-child {
    margin-right: 0;
}
.order-address-form .bottom{
    text-align: center;
    margin-bottom: 100px;
}
.order-address-form .bottom .btn-auth {
    margin: 0 auto;
    float: none;
    display: block;
    margin-top: 30px;
    padding: 10px 150px;
    font-size: 30px;
}
.order-address-form .bottom p {
    margin-top: 30px
}
/*Конец стилей корзины*/